# Build results
[Bb]in/
[Oo]bj/
[Oo]ut/
generated/

# NuGet
*.nupkg
*.snupkg
**/packages/
*.nuget.props
*.nuget.targets

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# dotfiles
.*
!.editorconfig
!.gitattributes
!.gitignore
!.github/workflows/
!.github/dependsbot.yml

# MSBuild
*.log
*.binlog

# Test results
[Tt]est[Rr]esults/
coverage/
*.coverage
*.coveragexml

# OS files
Thumbs.db
